<ion-header>
  <ion-toolbar>
    <ion-title>adopt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="thumnails">
    <div class="list-thumbnail">
      
        <ng-container *ngFor="let animal of mybuddiesAdopt">
          <div class="img-thumb" (click)="onAnimalSelected(animal)">
          <h1>{{animal.buddyName}}</h1>
          <img class="buddy-img" alt="buddyImage" src="{{animal.buddyPic}}">  
          </div>
        </ng-container>
    </div>
  </div>



    <ion-row style="place-content: center">
        <ion-button class="btn-primary" color="primary" shape="round" (click)="newAdoption()">
          New adoption
        </ion-button>    
    </ion-row>  

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeXs="6" sizeMd="4" *ngFor="let buddy of buddiesInAdoption" (click)="onAnimalSelected(buddy)">
        <ion-card class="welcome-card">
          <h1>{{buddy.buddyName}}</h1>
          <img src='{{buddy.buddyPic}}'>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>

</ion-content>
