.icon {
    position: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  
  ion-row {
    display: flex;
    justify-content: center;
  }
  
  ion-icon {
    margin-right: 5%;
  }
  
  [linespace] {
    height: 10%;
  }
  