<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>New appointment</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label style="text-align-last: center;"> New appointment for <b>{{event.day}} {{event.month}}, {{event.year}} </b></ion-label>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Title" tpye="text" [(ngModel)]="event.title" name="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Description" tpye="text" [(ngModel)]="event.description"></ion-input>
    </ion-item>
    
    <br>
    <ion-item-divider></ion-item-divider>
    <br>
    <ion-item>
      <ion-label>All day</ion-label>
      <ion-toggle slot="end" name="allDay" color="dark" [(ngModel)]="event.allDay" [checked]="event.allDay" (onchange)="onToogleChange()" checked></ion-toggle>
    </ion-item>

    <ion-item [disabled]="event.allDay">
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="DD/MM/YYYY HH:mm" picker-format="MMM DHH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item [disabled]="event.allDay">
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="DD/MM/YYYY HH:mm" picker-format="MMM DHH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <br>
    <ion-item-divider></ion-item-divider>
    <br>

    <ion-item>
      <ion-label>Buddy</ion-label>
      <ion-label style="text-align-last: right;">{{selectedBuddy}}</ion-label>
    </ion-item>      
    <br>
      <div class="thumnails" *ngIf="this.animalsArray.length > 0">
        <div class="list-thumbnail">
          <div class="img-thumb">
            <img  *ngFor="let x of animalsArray" class="buddy-img" [src]="x.buddyPic" (click)="onBuddyClicked(x);" alt="buddyImage">
          </div>
        </div> 
      </div>
  </ion-list>
</ion-content>

