<ion-header>
  <ion-toolbar>
    <ion-title>{{event.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="loading">
    <div ng-if="img"> <img alt="loading" src={{img}}> </div>
    </div>
    <ion-card-header>
      <ion-card-title>{{event.title}} - {{event.buddyName}}</ion-card-title>
      <ion-card-subtitle *ngIf="!this.event.allDay">{{this.start.getHours()}}:{{this.minutesStart}} - {{this.end.getHours()}}:{{this.minutesEnd}} </ion-card-subtitle>
      <ion-card-subtitle *ngIf="this.event.allDay">All Day </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{event.description}}
    </ion-card-content>
  </ion-card>
  
  <div style="display: flex; justify-content: center;">
    <ion-button (click)="deleteEvent()">
      <ion-label>Delete Event  </ion-label> 
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>

</ion-content>




<script src="../../../assets/js/eventDetails.js"></script>