<ion-header>
  <ion-toolbar>
    <ion-title>{{event.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="dark" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!editMode">
    <div class="loading">
    <div ng-if="img"> <img alt="loading" src={{img}}> </div>
    </div>
    <ion-card-header>
      <ion-card-title>{{event.title}} - {{event.buddyName}}</ion-card-title>
      <ion-card-subtitle *ngIf="!this.event.allDay">{{this.start.getHours()}}:{{this.minutesStart}} - {{this.end.getHours()}}:{{this.minutesEnd}} </ion-card-subtitle>
      <ion-card-subtitle *ngIf="this.event.allDay">All Day </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{event.description}}
    </ion-card-content>
  </ion-card>
  
  <ion-grid  *ngIf="!editMode" class="ion-text-center">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-items-center">
        <ion-button (click)="deleteEvent()">
          <ion-label>Delete Event</ion-label> 
          <ion-icon name="trash"></ion-icon>
        </ion-button>      
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="!editMode" class="ion-align-items-center">
        <ion-button (click)="editEvent()">
          Edit this event
          <ion-icon name="pencil-outline" slot="end"></ion-icon>
        </ion-button>      
      </ion-col>
    </ion-row>
  </ion-grid>


<!-- <form *ngIf="editMode" [formGroup]="ionicForm" (ngSubmit)="saveEdit()" novalidate> -->
  <form #myform>
  <ion-card  *ngIf="editMode">
    <img src="{{img}}" />
      <!-- <ion-item [hidden]="edit_buddyPic">
        <ion-icon name="camera"></ion-icon>
        <ion-input formControlName="edit_buddyPic" type="file" name="buddyPic" (change)="onFileSelected($event, i)" accept="image/png, image/jpeg" required ></ion-input>
      </ion-item> -->
    <ion-card-header>

      <!-- Edit Event Title -->
      <ion-item>
        <ion-input [(ngModel)]="editedEvent.edit_eventTitle" #edit_eventTitle name="edit_eventTitle" id="edit_eventTitle" placeholder="{{event.title}}" interface="action-sheet"></ion-input>
      </ion-item>
      <!-- Edit Event Title -->
      
      <!-- Edit Event Description -->
      <ion-item>
        <ion-input  [(ngModel)]="editedEvent.edit_eventdescription" #edit_eventDescription id="edit_eventDescription" name="edit_eventDescription" placeholder="{{event.description}}" interface="action-sheet"></ion-input>
      </ion-item>
      <!-- Edit Event Description -->

      <!-- Edit Event All day -->
      <ion-item>
        <ion-label>All day</ion-label>
        <ion-toggle  [(ngModel)]="edit_allDay" slot="end" name="edit_allDay" #edit_eventAllDay color="dark" (onchange)="onToogleChange()" [checked]="edit_allDay" checked></ion-toggle>
      </ion-item>
      <!-- Edit Event All day -->

      <ion-item [disabled]="edit_allDay">
        <ion-label>Start Time</ion-label>
        <ion-datetime  [(ngModel)]="editedEvent.edit_eventStartTime" display-format="DD/MM/YYYY HH:mm" name="edit_eventStartTime" picker-format="MMM DHH:mm"[min]="minDate"></ion-datetime>
      </ion-item>
  
      <ion-item [disabled]="edit_allDay">
        <ion-label>End Time</ion-label>
        <ion-datetime [(ngModel)]="editedEvent.edit_eventEndTime" display-format="DD/MM/YYYY HH:mm"  name="edit_eventEndTime" picker-format="MMM DHH:mm" [min]="minDate"></ion-datetime>
      </ion-item>

    </ion-card-header>
  </ion-card>

  <ion-grid class="ion-text-center">
    <ion-row class="ion-align-items-center">

      <!-- Buttons for edit mode: CANCEL AND SAVE -->
      <ion-col *ngIf="editMode" class="ion-align-items-center">
        <ion-button *ngIf="editMode" (click)="cancelEdit()">
          Cancel
        <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>         
      </ion-col>
      <ion-col *ngIf="editMode">
        <ion-button *ngIf="editMode" type="submit" (click)="saveEdit()">
          Save
          <ion-icon name="save-outline" slot="end"></ion-icon>
        </ion-button>         
      </ion-col>
      <!-- Buttons for edit mode: CANCEL AND SAVE -->

      <ion-col class="ion-align-items-center">
        <ion-button (click)="deleteEvent()">
          Delete this event 
          <ion-icon name="trash-bin-outline" slot="end"></ion-icon>
        </ion-button>        
      </ion-col>

    </ion-row>
  </ion-grid>
      
  </form>

<!-- </form> -->

</ion-content>

<script src="../../../assets/js/eventDetails.js"></script>