<ion-header>
  <ion-toolbar>
    <ion-title>PawTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="signUp()" novalidate>
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          
          <ion-row>
            <ion-col offset="4" align-self-center>
              <img class="icon" src="../../assets/icon/caticon.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="ion-text-center">
              <h3>Sign Up</h3>
            </div>            
          </ion-row>

          <ion-row>              
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                <div padding>
                  <ion-item>
                    <ion-input formControlName="name" name="name" type="text" placeholder="Name" required></ion-input>                    
                    <ion-icon name="person"></ion-icon>
                  </ion-item>
                  <!-- ERROR MESSAGES NAME -->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.name">
                      <div class="error-message" *ngIf="ionicForm.get('name').hasError(validation.type) && (ionicForm.get('name').dirty || ionicForm.get('name').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item>
                    <ion-input formControlName="surname" name="surname" type="text" placeholder="Surname" required></ion-input>                    
                    <ion-icon name="person-add"></ion-icon>
                  </ion-item>
                  <!-- ERROR MESSAGES SURNAME -->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.surname">
                      <div class="error-message" *ngIf="ionicForm.get('surname').hasError(validation.type) && (ionicForm.get('surname').dirty || ionicForm.get('surname').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div linespace></div>
                <ion-item>
                  <ion-input formControlName="username" name="username" type="text" placeholder="username" required></ion-input>
                  <ion-icon name="logo-octocat"></ion-icon>
                </ion-item>
                <!-- ERROR MESSAGES USERNAME -->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.username">
                    <div class="error-message" *ngIf="ionicForm.get('username').hasError(validation.type) && (ionicForm.get('username').dirty || ionicForm.get('username').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-input formControlName="email" name="email" type="text" placeholder="email" required></ion-input>
                  <ion-icon name="mail"></ion-icon>
                </ion-item>
                <!-- ERROR MESSAGES EMAIL -->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="ionicForm.get('email').hasError(validation.type) && (ionicForm.get('email').dirty || ionicForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <div linespace></div>
                  <ion-item>
                    <ion-input formControlName="password" name="password" [type]="showPassword ? 'text' : 'password' " placeholder="Password" required></ion-input>                    
                    <ion-icon [name]="passwordToggleIcon" (click)="toggleShow()"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-input formControlName="confirmed_password" name="confirmed_password" [type]="showPasswordC ? 'text' : 'password' " placeholder="Confirm Password" required></ion-input>                    
                    <ion-icon [name]="passwordToggleIconC" (click)="toggleShowC()"></ion-icon>
                  </ion-item>
                  <!-- ERROR MESSAGES PASSWORD -->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="ionicForm.get('password').hasError(validation.type) && (ionicForm.get('password').dirty || ionicForm.get('password').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <div class='form-text error' *ngIf="ionicForm.controls.confirmed_password.touched">
                    <div class='form-text error' *ngIf="ionicForm.controls.confirmed_password.touched"></div>
                    <div *ngIf="ionicForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
                </div> 
                <div linespace></div>

                <div padding>
                   <ion-button size="large" type="submit" expand="block">Next Step</ion-button>  <!-- [disabled]="ionicForm.invalid" -->
                </div>  
                <div linespace></div>
                <ion-item>
                  <ion-label style="text-align-last: center;">You already have an account? <a href="/login">Login</a> </ion-label>     
                </ion-item>
              </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
