<ion-content class="ion-padding">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon>
        Where are my buddies?
      </ion-card-title>              
      <ion-card-subtitle>Locate them in real time</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="transparent-card">
      <div id="map" style="height: 150px;"></div>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon>
        Appointments
      </ion-card-title>              
      <!-- <ion-card-subtitle>blah blah blah</ion-card-subtitle> -->

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="Dark" (click)="today()">Today</ion-button>
          <ion-button color="Dark" (click)="changeMode('month')">Month</ion-button>
          <ion-button color="Dark" (click)="changeMode('week')">Week</ion-button>
          <ion-button color="Dark" (click)="changeMode('day')">Day</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" (click)="prevMonth()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <h2>{{currentMonth}}</h2>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" (click)="nextMonth()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card-content class="transparent-card">
      <calendar
              [calendarMode]="calendar.mode"
              [eventSource]="eventSource"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onRangeChanged)="reloadSource(startTime, endTime)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30">
      </calendar> 
      <div style="display: flex; justify-content: center;">
        <ion-button (click)="openCalModal()">add new appointment</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon>
        Sleep
      </ion-card-title>              
      <ion-card-subtitle>blah blah blah</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="transparent-card">
      <div></div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon>
        Walking
      </ion-card-title>              
      <ion-card-subtitle>blah blah blah</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="transparent-card">
      <div></div>
    </ion-card-content>
  </ion-card>
</ion-content>
