<ion-header>
  <ion-toolbar>
    <ion-title>PawTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate> -->
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          
          <ion-row>
            <ion-col offset="4" align-self-center>
              <img class="icon" src="../../assets/icon/caticon.png">
            </ion-col>
          </ion-row>
           
          <ion-row>              
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div class="ion-text-center">
                  <h3>Sign Up Buddy</h3>
                </div>

                <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
                  <div formArrayName="attributes">
                      <section [formGroupName]="i" *ngFor="let animals of ionicForm.controls.attributes.controls; let i = index">
                        <ion-item-group>
                          <ion-item-divider color="light">Buddy #{{ i + 1 }}
                            <ion-icon id="deleteBuddy" *ngIf="ionicForm.controls.attributes.controls.length > 1" style="margin-left: auto;" (click)="deleteBuddy(i)" name="trash"></ion-icon>
                          </ion-item-divider>
                          <div padding>
                            <ion-item>                    
                              <ion-icon name="paw"></ion-icon>
                              <ion-input formControlName="buddyName" name="buddyName" type="text" placeholder="Buddy name" required></ion-input>                    
                            </ion-item>
                            <!-- ERROR MESSAGES BUDDYNAME -->
                            <!-- <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.buddyName">
                                <div class="error-message" *ngIf="ionicForm.get('buddyName').hasError(validation.type) && (ionicForm.get('buddyName').dirty || ionicForm.get('buddyName').touched)">
                                  {{ validation.message }}
                                </div>
                              </ng-container>
                            </div> -->
                          </div>
                          <div linespace></div>
                          <ion-item>
                            <ion-icon name="heart-half"></ion-icon>
                            <ion-select formControlName="buddyGender" name="buddyGender" placeholder="Gender" interface="action-sheet">
                              <ion-select-option value="F">Female</ion-select-option>
                              <ion-select-option value="M">Male</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <!-- ERROR MESSAGES BUDDYGENDER -->
                          <!-- <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.buddyGender">
                              <div class="error-message" *ngIf="ionicForm.get('buddyGender').hasError(validation.type) && (ionicForm.get('buddyGender').dirty || ionicForm.get('buddyGender').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div> -->
                          <div linespace></div>
                          <ion-item>
                            <ion-icon name="list"></ion-icon>
                            <ion-select formControlName="buddyBreed" name="buddyBreed" placeholder="Breed/Breeds"  multiple="true"> <!-- interface="action-sheet" -->
                              <ion-select-option *ngFor="let breed of breeds" [value]="breed">{{breed}}</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <!-- ERROR MESSAGES BUDDYBREED -->
                          <!-- <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.buddyBreed">
                              <div class="error-message" *ngIf="ionicForm.get('buddyBreed').hasError(validation.type) && (ionicForm.get('buddyBreed').dirty || ionicForm.get('buddyBreed').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div> -->
                          <div linespace></div>
                          <ion-item>                    
                            <ion-icon name="calendar"></ion-icon>
                            <ion-input formControlName="buddyAge" name="buddyAge" type="number" placeholder="Buddy age" required></ion-input>  
                          </ion-item>
                          <!-- ERROR MESSAGES AGE -->
                          <!-- <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.buddyAge">
                              <div class="error-message" *ngIf="ionicForm.get('buddyAge').hasError(validation.type) && (ionicForm.get('buddyAge').dirty || ionicForm.get('buddyAge').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div> -->
                        <div linespace></div>
                          <ion-item [hidden]="buddyBday">
                            <ion-icon name="gift"></ion-icon>
                            <ion-label>Buddy Birthday</ion-label>
                            <ion-datetime formControlName="buddyBday" name="buddyBday" (ionChange)="change($event.target.value)" displayFormat="MMM-DD-YYYY" pickerFormat="MMM DD YYYY"></ion-datetime>
                          </ion-item>
                          <!-- ERROR MESSAGES BDAY -->
                          <!-- <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.buddyBday">
                              <div class="error-message" *ngIf="ionicForm.get('buddyBday').hasError(validation.type) && (ionicForm.get('buddyBday').dirty || ionicForm.get('buddyBday').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div> -->
                          <div linespace></div>
                          <ion-row style="height: 20px"></ion-row>
                        </ion-item-group>
                      </section>

                      <div padding>
                        <ion-button size="large" (click)="addbuddy()" expand="block">Add buddy</ion-button>  <!-- [disabled]="ionicForm.invalid" -->
                      </div> 
                    <div linespace></div> 
                      <div padding>
                        <ion-button size="large" type="submit" expand="block">Register buddies</ion-button>  <!-- [disabled]="ionicForm.invalid" -->
                      </div>                      
                  </div>
             
                </form>
                      
                <div linespace></div>
                  <ion-item>
                    <ion-label style="text-align-last: center;">You have an account? <a href="/login">Login</a> </ion-label>     
                  </ion-item>
              </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </form> -->
</ion-content>
