<ion-app>
  <ion-menu side="start" content-id="main-content" side=end>
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>PawTracker</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <ion-list-header>{{this.userService.user.username}}</ion-list-header>
          <ion-note>{{this.userService.user.email}}</ion-note>
          <ion-menu-toggle auto-hide="false" side=end *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="'root'" [routerLink]="[p.url]" lines="none" detail="false"  [class.selected]=" this.selectedIndex === i" >
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" side=end>
            <ion-item routerDirection="root" (click)="coins()" lines="none" detail="false"  [class.selected]=" this.selectedIndex === 1" >
              <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
              <ion-label> My profile sep </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false" side=end>
            <ion-item routerDirection="root" lines="none" detail="false"  [class.selected]=" this.selectedIndex === 4" >
              <ion-toggle (ionChange)="darkMode($event)" id="themeToggle" slot="start"></ion-toggle>
              <ion-label>Dark mode</ion-label>
            </ion-item>            
          </ion-menu-toggle>  
          <ion-menu-toggle auto-hide="false" side=end>
            <ion-item routerDirection="root" (click)="this.authService.SignOut()" lines="none" detail="false"  [class.selected]=" this.selectedIndex === 5" >
              <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
              <ion-label>Sign Out</ion-label>
            </ion-item>            
          </ion-menu-toggle>  

      </ion-list>

      <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="end" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> 
        </ion-list> -->

    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>PawTracker</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-tabs >
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="index">
          <ion-icon name="home"  (click)=" this.selectedIndex === 0"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="adopt">
          <ion-icon name="heart" (click)=" this.selectedIndex === 2"></ion-icon>
          <ion-label>Adopt</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="profile" >
          <ion-icon name="person-circle"  (click)=" this.selectedIndex === 1"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </div>

  <script src="../../assets/js/eventDetails.js"> </script>
</ion-app>
