<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../../assets/icon/caticon.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{this.userService.user.name}} {{this.userService.user.surname}}</h3>
          <h5 class="country">{{this.userService.user.username}}</h5>
          <h6 class="ranking">Buddies<ion-chip>
              <ion-label>{{this.userService.user.nAnimals}}</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
        <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
        <ion-button expand="full" color="secondary">View profile at ATP</ion-button>

      </div>
    </div>
</ion-content>